/*-------------
 	Colors
Section1 = #fefcf9
Section2 = #f9fdfd
Footer = #169c91
Dark Text = #20202d
Light Text = #f9fdfd
Radio Button = #d99840
Submit Button = #7F2622
-------------*/

/*-------------
 	General
-------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: normal 16px 'Roboto', sans-serif;
    color: #20202d;
    scroll-behavior: smooth;
}

ul, nav{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.75;
}

a:hover{
    opacity: 1;
}

a.btn{
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #2196F3;
    font-weight: 800;
    text-align: center;
}

hr{
    width: 150px;
    height: 2px;
    background-color: #2196F3;
    border: 0;
    margin-bottom: 80px;
}

section{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /* top and bottom | left and right */
    padding: 100px 100px;
}

@media (max-width: 1000px){

    section{
        /* top and bottom | left and right */
        padding: 100px 50px;
    }

}

@media (max-width: 600px){

    section{
        /* top and bottom | left and right */
        padding: 80px 30px;
    }

}

section h3.title{
    color: #4a4a68;
    text-transform: capitalize;
    font: bold 32px 'Roboto', sans-serif;
    margin-bottom: 35px;
    text-align: center;
}

section p{
    text-align: center;
    margin-bottom: 35px;
    /* top and bottom | left and right */
    padding: 0 20px;
    line-height: 2;
}

ul.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*-------------
 	Header
-------------*/

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f9fdfd;
    padding: 35px 100px 0;
}

header section {
    display: flex;
    flex-direction: column;
    align-items: center;
}



header h2 {
    font-family: 'Roboto', sans-serif;
}

header nav {
    display: flex;
}

header nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li:first-child {
    margin-left: 0;
}

header nav ul li:last-child {
    margin-right: 0;
}

header h2 a {
    opacity: 0.95;
}

@media (max-width: 1000px) {
    header {
        padding: 20px 50px;
    }
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }

    header h2 {
        margin-bottom: 15px;
    }
}




/*----------------
 	Hero Section
----------------*/

.hero{
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #f9fdfd;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .background-image{
    /*background-image: url(../img/0-1.jpg);*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #d99840;
    z-index: -1;
}

.hero .background-image:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #414a4f;
    opacity: 0.40;
}

.img-location {
    position:absolute;
    bottom: .5em;
    left: 0;
    margin: 0;
}

.hero h1{
    font: bold 60px 'Roboto', sans-serif;
    margin-bottom: 15px;
}

.hero h3{
    font: normal 28px 'Roboto', sans-serif;
    margin-bottom: 40px;
}

.hero a.btn{
    padding: 20px 46px;
}

@media (max-width: 800px){

    .hero{
        min-height: 600px;
    }

    .hero h1{
        font-size: 48px;
    }

    .hero h3{
        font-size: 24px;
    }

    .hero a.btn{
        padding: 15px 40px;
    }

    .img-location {
        opacity: 0;
    }

}



/*--------------------
 	Our Destinations Section
---------------------*/

.destinations{
    background-color: #fefcf9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destinations p {
    max-width: 85%;
    text-align: center;
    margin-bottom: 35px;
    /* top and bottom | left and right */
    padding: 0 20px;
    line-height: 2;
}

.destinations .grid li{
    padding: 20px;
    height: 350px;
    border-radius: 3px;

    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

.destinations .grid li.small{
    flex-basis: 40%;
}

.destinations .grid li.large{
    flex-basis: 60%;
}

.destinations nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.destinations nav ul li {
    padding: 20px;
    font: bold 25px 'Roboto', sans-serif;
    font-weight: 500;
}

.destinations nav ul a {
    text-decoration: none;
}


#nav {
    padding-top: 3em;
}


@media (max-width: 1000px){

    .destinations .grid li.small,
    .destinations .grid li.large{
        flex-basis: 100%;
    }

}

.destinations p {
    color: #20202d;
}

/*--------------------
 	Testimonials Section
--------------------*/

.testimonials section {
    max-width: 100%;
    color: #20202d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials{
    background-color: #f9fdfd;
}

.testimonials .quote{
    text-align: center;
    /*width: 80%;*/
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    /*padding: 0;*/
}

.testimonials .author{
    font-size: 18px;
    margin-bottom: 50px;
}

.testimonials .author:last-child{
    margin-bottom: 0;
}

@media (max-width: 1000px){

    .testimonials .quote{
        font-size: 20px;
    }

    .testimonials .author{
        font-size: 16px;
    }

}

/*-------------
 	Footer
-------------*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #f9fdfd;
    background-color: #169c91;
    padding: 20px 10%;
}

footer section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    text-align: left;
    margin-left: 20px;
}

footer ul{
    color: #f9fdfd;
    display: flex;
    margin-right: 20px;
    font-size: 32px;
}

footer ul li{
    margin: 0 8px;
}

footer ul li:first-child{
    margin-left: 0;
}

footer ul li:last-child{
    margin-right: 0;
}

footer p{
    font-size: 14px;
    color: #f9fdfd;
    margin-bottom: 10px;
}

footer p a{
    color: #f9fdfd;
}

.copyright{
    text-align: right;
    margin-right: 20px;
}

@media (max-width: 700px){

    footer{
        padding: 80px 15px;
    }

}

/*--------------------
 	Individual Destinations Section
---------------------*/

.destination{
    background-color: #fefcf9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination p {
    max-width: 85%;
    text-align: center;
    margin-bottom: 35px;
    /* top and bottom | left and right */
    padding: 0 20px;
    line-height: 2;
}

.destination .grid li{
    padding: 20px;
    height: 350px;
    border-radius: 3px;

    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

.destination .grid li.small{
    flex-basis: 40%;
}

.destination .grid li.large{
    flex-basis: 60%;
}

.destination nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.destination nav ul li {
    padding: 20px;
    font: bold 25px 'Roboto', sans-serif;
    font-weight: 500;
}

.destination nav ul a {
    text-decoration: none;
}

@media (max-width: 1000px){

    .destination .grid li.small,
    .destination .grid li.large{
        flex-basis: 100%;
    }

}

.destination p {
    color: #20202d;
}

/*--------------------
 	Activities
---------------------*/

.activities{
    background-color: #f9fdfd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activities p {
    max-width: 85%;
    text-align: center;
    margin-bottom: 35px;
    /* top and bottom | left and right */
    padding: 0 20px;
    line-height: 2;
}

.activities h1 {
    padding-top: 2em;
    color: #4a4a68;
    text-transform: capitalize;
    font: bold 32px 'Roboto', sans-serif;
    margin-bottom: 35px;
    text-align: center;
}

.activities .grid li{
    padding: 20px;
    height: 350px;
    border-radius: 3px;

    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

.activities .grid li.small{
    flex-basis: 40%;
}

.activities .grid li.large{
    flex-basis: 60%;
}

.activities nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.activities nav ul li {
    padding: 20px;
    font: bold 25px 'Roboto', sans-serif;
    font-weight: 500;
}

.activities nav ul a {
    text-decoration: none;
}


@media (max-width: 1000px){

    .activities .grid li.small,
    .activities .grid li.large{
        flex-basis: 100%;
    }

}

.activities p {
    color: #20202d;
}

/*--------------------
 	   Packages
---------------------*/

.packages {
    background-color: #fefcf9;
}

/*--------------------
       Contact
---------------------*/

/* Sets the width of the section and the background color */
.contactSEC {
    background-color: #f9fdfd;
}

/* floats the <p> to the left */
.contactSEC p {
    float: left;
}

form {
    max-width: 85%;
    margin: 20px auto;
}

/* styles the form inputs and textareas with a border radius, padding, width, margin and box-shadow, and removes the default border and outline. */
form input,
form textarea {
    border: 0;
    outline: 0;
    padding: 1em;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* styles the form inputs and textareas with a box-shadow when they receive focus */
form input:focus {
    box-shadow: 0 0px 2px #7f2622 !important;
}

/* styles the form submit button with a background color, border radius, padding, width, margin, box-shadow, and cursor */
form #submit {
    color: white;
    background: #7f2622;
    cursor: pointer;
}

/* styles the form submit button with a box-shadow when hovered */
form #submit:hover {
    box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}

/* setup the split view */
.half {
    float: left;
    width: 40%;
    margin-bottom: 1em;
}

/* float to the right */
.right {
    float: right;
    width: 40%;
}

/* float to the left */
.left {
    margin-right: 2%;
}

/* styles the radio-label element with a flex display, aligns its contents to the center, gives it a rounded border-radius, padding and margin, a cursor pointer and a transition effect of 0.3 seconds*/
.radio-label {
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 10px 16px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.3s;
}

/* styles the radio-label element with a background color when hovered */
.radio-label:hover,
.radio-label:focus-within {
    background: hsla(0, 0%, 80%, 0.14);
}

/* hides the radio-input element */
.radio-input {
    position: absolute;
    opacity: 1;
    z-index: -1;
}

/* styles the radio-design element with a width, height, border-radius, background color and position */
.radio-design {
    width: 22px;
    height: 22px;
    border-radius: 100px;

    background: #d99840;
    position: relative;
}

/* styles a pseudo-element for the radio-design element to create a light gray circular background with a 10% larger size and a transition effect of 0.3 seconds. */
.radio-design::before {
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: 0.3s;
}

/* styles the radio-design element with a transform effect of 0 when the radio-input element is checked */
.radio-input:checked + .radio-design::before {
    transform: scale(0);
}

/* styles the radio-text element with a color, margin-left, letter-spacing, font-size, font-weight and a transition effect of 0.3 seconds */
.radio-text {
    color: hsl(0, 0%, 60%);
    margin-left: 15px;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: 900;
    transition: 0.3s;
}

.success-message {
    display: none;
}

.contact-form {
    display: block;
}