/*-------------
 	Colors
Even Sections = #fefcf9
Odd Sections = #f9fdfd
Footer = #169c91
Dark Text = #20202d
Medium Text = #4a4a68
Light Text = #f9fdfd
Radio Button = #d99840
Submit Button = #7F2622
Table Row Even = #fbf4e9
Table Row Odd = #ecf9f9
Table Header = #7F2622
 */

/*-------------
    General Styles
-------------*/

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
html {
    font: normal 16px 'Roboto', sans-serif;
    color: #20202d;
    scroll-behavior: smooth;
}

/* Lists */
ul, nav {
    list-style: none;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.75;
}

a:hover {
    opacity: 1;
}

/* Sections */
section {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /* top and bottom | left and right */
    padding: 100px 100px;
}

/* Style even sections */
section:not(.hero):nth-child(even) {
    background-color: #fefcf9;
}

/* Style odd sections */
section:not(.hero):nth-child(odd) {
    background-color: #f9fdfd;
}

/* Section titles */
section h3.title {
    color: #4a4a68;
    text-transform: capitalize;
    font: bold 32px 'Roboto', sans-serif;
    margin-bottom: 35px;
    text-align: center;
}

/* Section paragraphs */
section p {
    text-align: center;
    margin-bottom: 35px;
    /* top and bottom | left and right */
    padding: 0 20px;
    line-height: 2;
}

/* Grid lists */
ul.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Media queries */
@media (max-width: 1000px) {
    section {
        /* top and bottom | left and right */
        padding: 100px 50px;
    }
}

@media (max-width: 600px) {
    section {
        /* top and bottom | left and right */
        padding: 80px 30px;
    }
}

/*-------------
    Header
-------------*/

/* Header container */
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f9fdfd;
    padding: 35px 100px 0;
}

/* Navigation section */
header nav {
    display: flex;
}

header nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li:first-child {
    margin-left: 0;
}

header nav ul li:last-child {
    margin-right: 0;
}

/* Header content section */
header section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h2 {
    font-family: 'Roboto', sans-serif;
    opacity: 0.95;
}

/* Media queries */
@media (max-width: 1000px) {
    header {
        padding: 20px 50px;
    }
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }

    header h2 {
        margin-bottom: 15px;
    }
}


/*----------------
    Hero Section
----------------*/

/* Set the styles for the container of the hero section */
.hero {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #f9fdfd;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Set the styles for the slogan text */
.slogan {
    color: #f9fdfd;
}

/* Set the styles for the background image of the hero section */
.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #d99840;
    z-index: -1;
}

/* Set the styles for the overlay of the background image */
.hero .background-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #414a4f;
    opacity: 0.40;
}

/* Set the styles for the image location */
.img-location {
    position: absolute;
    bottom: .5em;
    left: 0;
    margin: 0;
}

/* Set the styles for the hero section heading */
.hero h1 {
    font: bold 60px 'Roboto', sans-serif;
    margin-bottom: 15px;
}

/* Set the styles for the hero section subheading */
.hero h3 {
    font: normal 28px 'Roboto', sans-serif;
    margin-bottom: 40px;
}

/* Set the styles for the hero section button */
.hero a.btn {
    padding: 20px 46px;
}

/* Set the responsive styles for smaller screens */
@media (max-width: 800px) {

    /* Set the minimum height for the hero section for smaller screens */
    .hero {
        min-height: 600px;
    }

    /* Set the font size for the hero section heading for smaller screens */
    .hero h1 {
        font-size: 48px;
    }

    /* Set the font size for the hero section subheading for smaller screens */
    .hero h3 {
        font-size: 24px;
    }

    /* Set the padding for the hero section button for smaller screens */
    .hero a.btn {
        padding: 15px 40px;
    }

    /* Hide the image location for smaller screens */
    .img-location {
        opacity: 0;
    }

}

/*--------------------
 	Our Destinations Section
---------------------*/

/* Container for the entire section */
.destinations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Description text for the section */
.destinations p {
    max-width: 85%;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

/* Grid container for destination items */
.destinations .grid li {
    padding: 20px;
    height: 350px;
    border-radius: 3px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

/* Styles for small destination items in grid */
.destinations .grid li.small {
    flex-basis: 40%;
}

/* Styles for large destination items in grid */
.destinations .grid li.large {
    flex-basis: 60%;
}

/* Navigation bar container */
.destinations nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

/* Styles for navigation bar items */
.destinations nav ul li {
    padding: 20px;
    font: bold 25px 'Roboto', sans-serif;
    font-weight: 500;
}

/* Styles for navigation bar links */
.destinations nav ul a {
    text-decoration: none;
}

/* Additional styles for navigation bar */
#nav {
    padding-top: 3em;
}

/* Media query for small screens */
@media (max-width: 1000px) {
    .destinations .grid li.small,
    .destinations .grid li.large {
        flex-basis: 100%;
    }
}

/* Additional styles for text in section */
.destinations p {
    color: #20202d;
}

/*--------------------
    Testimonials Section
--------------------*/

/* Overall section styling */
.testimonials section {
    max-width: 100%;
    color: #20202d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for the quote */
.testimonials .quote {
    text-align: center;
    /*width: 80%;*/
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    /*padding: 0;*/
}

/* Styling for the author */
.testimonials .author {
    font-size: 18px;
    margin-bottom: 50px;
}

/* Styling for the last author */
.testimonials .author:last-child {
    margin-bottom: 0;
}

/* Media query for smaller screens */
@media (max-width: 1000px) {
    .testimonials .quote {
        font-size: 20px;
    }

    .testimonials .author {
        font-size: 16px;
    }
}

/*-------------
 	Footer
-------------*/

/* Set the overall style for the footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #f9fdfd;
    background-color: #169c91;
    padding: 20px 10%;
}

/* Set the style for each section within the footer */
footer section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Set the style for the contact information section */
.contact {
    text-align: left;
    margin-left: 20px;
}

/* Set the style for the unordered list of social media links */
footer ul {
    color: #f9fdfd;
    display: flex;
    margin-right: 20px;
    font-size: 32px;
}

/* Set the style for each social media link */
footer ul li {
    margin: 0 8px;
}

/* Set the style for the first social media link */
footer ul li:first-child {
    margin-left: 0;
}

/* Set the style for the last social media link */
footer ul li:last-child {
    margin-right: 0;
}

/* Set the style for the copyright notice */
footer p {
    font-size: 14px;
    color: #f9fdfd;
    margin-bottom: 10px;
}

/* Set the style for the link within the copyright notice */
footer p a {
    color: #f9fdfd;
}

/* Set the style for the right-aligned copyright notice */
/* (note: this overrides the "text-align: center" rule set earlier for the footer) */
.copyright {
    text-align: right;
    margin-right: 20px;
}

/* Set the responsive styles for smaller screens */
@media (max-width: 700px) {
    footer {
        padding: 80px 15px;
    }
}

/*--------------------
 	Individual Destinations Section
---------------------*/

.destination {
    /* container for the section */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination p {
    /* paragraph text within section */
    max-width: 85%;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px; /* top/bottom and left/right padding */
    line-height: 2;
}

.destination .grid li {
    /* individual destination grid item */
    padding: 20px;
    height: 350px;
    border-radius: 3px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

.destination .grid li.small {
    /* small grid items */
    flex-basis: 40%;
}

.destination .grid li.large {
    /* large grid items */
    flex-basis: 60%;
}

.destination nav ul {
    /* navigation list for destinations */
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.destination nav ul li {
    /* individual navigation list item */
    padding: 20px;
    font: bold 25px 'Roboto', sans-serif;
    font-weight: 500;
}

.destination nav ul a {
    /* link within navigation list */
    text-decoration: none;
}

@media (max-width: 1000px) {
    /* media query for smaller screen sizes */
    .destination .grid li.small,
    .destination .grid li.large {
        flex-basis: 100%;
    }
}

.destination p {
    /* color for paragraph text */
    color: #20202d;
}

/*--------------------
 	Activities
---------------------*/

/* Set display properties */
.activities {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Set properties for paragraphs within .activities */
.activities p {
    max-width: 85%;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px; /* top and bottom | left and right */
    line-height: 2;
}

/* Set properties for heading within .activities */
.activities h1 {
    padding-top: 2em;
    color: #4a4a68;
    text-transform: capitalize;
    font: bold 32px 'Roboto', sans-serif;
    margin-bottom: 35px;
    text-align: center;
}

/* Set properties for list items within .grid within .activities */
.activities .grid li {
    padding: 20px;
    height: 350px;
    border-radius: 3px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

/* Set properties for list items with class 'small' within .grid within .activities */
.activities .grid li.small {
    flex-basis: 40%;
}

/* Set properties for list items with class 'large' within .grid within .activities */
.activities .grid li.large {
    flex-basis: 60%;
}

/* Set properties for unordered list within nav within .activities */
.activities nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

/* Set properties for list items within unordered list within nav within .activities */
.activities nav ul li {
    padding: 20px;
    font: bold 25px 'Roboto', sans-serif;
    font-weight: 500;
}

/* Set properties for anchor tags within unordered list within nav within .activities */
.activities nav ul a {
    text-decoration: none;
}

/* Set color property for paragraphs within .activities */
.activities p {
    color: #20202d;
}

@media (max-width: 1000px) {

    .activities .grid li.small,
    .activities .grid li.large {
        /* Set properties for list items with class 'small' or 'large' within .grid within .activities when screen width is less than 1000px */
        flex-basis: 100%;
    }

}


/*--------------------
 	   Packages
---------------------*/

/* Set max width and center packages container paragraphs */
.packages p {
    max-width: 85%;
    text-align: center;
    /* top and bottom | left and right */
    padding: 10px 20px;
    margin: 0 auto;
    line-height: 2;
}

/* Set max width and center table container */
.table-container {
    max-width: 85%;
    margin: 0 auto;
    padding: 20px;
}

/* Set basic table styles */
table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    border: none;
    padding: 10px;
}

/* Style for table headers and cells*/
th, td {
    padding: 15px;
    text-align: center;
    border: none;
}

/* Style for table headers */
th {
    background-color: #7F2622;
    color: white;
    font-size: 1.2em;
    padding-right: 10px;
}

/* Style for first column cells */
tr td:first-child {
    background-color: white;
    font-weight: bold;
    padding-left: 10px;
    border-radius: 0 5px 5px 0;
}

/* Style for even numbered rows and odd numbered columns */
tr:nth-child(even) td:nth-child(odd) {
    background-color: #ecf9f9;
    padding: 15px;
}

/* Style for odd numbered rows and even numbered columns */
tr:nth-child(odd) td:nth-child(even) {
    background-color: #fbf4e9;
    padding: 15px;
}

/* Style for even numbered rows and even numbered columns */
tr:nth-child(even) td:nth-child(even) {
    background-color: #fbf4e9;
    padding: 15px;
}

/* Style for odd numbered rows and odd numbered columns */
tr:nth-child(odd) td:nth-child(odd) {
    background-color: #ecf9f9;
    padding: 15px;
}

/*--------------------
       Contact
---------------------*/

/* Sets the width of the section and the background color */

.contactSEC p {
    max-width: 85%;
    text-align: center;
    /* top and bottom | left and right */
    padding: 5px 20px;
    margin: 0 auto;
    line-height: 2;
}

/* floats the <p> to the left */
form p {
    float: left;
}

form {
    max-width: 85%;
    margin: 20px auto;
}

/* styles the form inputs and textareas with a border radius, padding, width, margin and box-shadow, and removes the default border and outline. */
form input,
form textarea {
    border: 0;
    outline: 0;
    padding: 1em;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* styles the form inputs and textareas with a box-shadow when they receive focus */
form input:focus {
    box-shadow: 0 0 2px #7f2622 !important;
}

/* styles the form submit button with a background color, border radius, padding, width, margin, box-shadow, and cursor */
form #submit {
    color: white;
    background: #7f2622;
    cursor: pointer;
}

/* styles the form submit button with a box-shadow when hovered */
form #submit:hover {
    box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}

/* setup the split view */
.half {
    float: left;
    width: 40%;
    margin-bottom: 1em;
}

/* float to the right */
.right {
    float: right;
    width: 40%;
}

/* float to the left */
.left {
    margin-right: 2%;
}

/* styles the radio-label element with a flex display, aligns its contents to the center, gives it a rounded border-radius, padding and margin, a cursor pointer and a transition effect of 0.3 seconds*/
.radio-label {
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 10px 16px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.3s;
}

/* styles the radio-label element with a background color when hovered */
.radio-label:hover,
.radio-label:focus-within {
    background: hsla(0, 0%, 80%, 0.14);
}

/* hides the radio-input element */
.radio-input {
    position: absolute;
    left: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}

/* styles the radio-design element with a width, height, border-radius, background color and position */
.radio-design {
    width: 22px;
    height: 22px;
    border-radius: 100px;

    background: #d99840;
    position: relative;
}

/* styles a pseudo-element for the radio-design element to create a light gray circular background with a 10% larger size and a transition effect of 0.3 seconds. */
.radio-design::before {
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: 0.3s;
}

/* styles the radio-design element with a transform effect of 0 when the radio-input element is checked */
.radio-input:checked + .radio-design::before {
    transform: scale(0);
}

/* styles the radio-text element with a color, margin-left, letter-spacing, font-size, font-weight and a transition effect of 0.3 seconds */
.radio-text {
    color: hsl(0, 0%, 60%);
    margin-left: 15px;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: 900;
    transition: 0.3s;
}

/*--------------------
       Itinerary
---------------------*/

/* Set container styles */
.itinerary {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

/* Set styles for left and right sections */
.split {
    width: 85%;
    margin: 0 auto;
}

.itineraryLeft, .itineraryRight {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itineraryLeft {
    width: 45%;
    float: left;
    padding: 20px;
}

.itineraryRight {
    width: 45%;
    float: right;
    padding: 20px;
}

/* Set style for itinerary heading */
.itineraryH2 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    color: #4a4a68;
}

/* Set style for main heading */
h1 {
    display: inline;
    flex-wrap: nowrap;
    color: #4a4a68;
    text-transform: capitalize;
    font: bold 32px 'Roboto', sans-serif;
    margin-bottom: 35px;
    text-align: center;
}